{% extends 'layouts/base.html.twig' %}

{% block title %}panterest
{% endblock %}

{% block body %}
	{% if pins|length > 0 %}
		<h1 class="text-center text-muted mb-4">{{ pluralize(pins|length, "pin") }}</h1>

        {% for row in pins|batch(3) %}
            <div class="row mb-5">
                {% for pin in row %}
                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">
                            <div class="mw-100 overflow-hidden rounded-top">
                                <a href="{{ path('app_pins_show', {id: pin.id}) }}">
                                    <img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter("squared_thumbnail_medium")}}" alt="{{ pin.title }}" class="w-100"/>
                                </a>
                            </div>
                            <h2 class="h5 pl-3 pt-3">
                                <a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-secondary text-decoration-none">{{pin.title}}</a>
                            </h2>
                            <p class="text-muted pl-3 pb-3"><small>Submitted by {{pin.user.fullName}}</small></p>
                            {# option for pin deletion on index page
                            <a href="" class="m-3 btn btn-warning" onclick="event.preventDefault(); confirm('Are you sure?') && document.getElementById('js-pin-delete-form-{{pin.id}}').submit();">&times; Delete</a>
                            <form action="{{path('app_pins_delete', {id: pin.id}) }}" id="js-pin-delete-form-{{pin.id}}" method="post" style="display:none;">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id)}}">
							<input type="hidden" name="_method" value="DELETE"> #}
						</form>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
	{% else %}
		<p class="h1 text-center">No pins yet..
			<a href="{{ path('app_pins_create') }}">Creates one !!</a>
		</p>
	{% endif %}
{% endblock %}
